[Desktop Entry]
Type=Application
Name=Magnetic Bottle
GenericName=Magnetic Field Simulator
Exec=magneticbottle
Terminal=false
Categories=Education;Science;
