Source: vanallensim3d
Section: science
Priority: optional
Maintainer: Martin Ueding <dev@martin-ueding.de>
Build-Depends: cdbs, debhelper (>= 7.0.50~), default-jdk (>= 1.6)
Standards-Version: 3.8.4
Homepage: https://launchpad.net/vanallensim3d

Package: vanallensim3d
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre (>= 1.6), libjava3d-java
Description: Van Allen radiation belt simulator 3D
 The Van Allen radiation belt is a collection of charged particles that are trapped in the magnetic field of the earth. This program simulates those particles and displays it in 3D.
